* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #060533;
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
}

main {
    margin-top: 5vh;
    width: 75vw;
    min-height: 55vh;
    height: fit-content;

    padding: 25px;
    background-color: #1d1c1c;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: hidden;
}

button, input[type=text], select {
    background-color: transparent;
    width: fit-content;
    min-width: 200px;
    color: #fff;
    outline: 5px solid transparent;
    border: 1px solid #ffffff76;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;

    transition: .15s ease-in-out, .1s transform;
}
button:not(:disabled):hover, input[type=text]:hover {
    background-color: #000;
    border-color: #ffffffb1;
}
button:not(:disabled):active, input[type=text]:focus-visible {
    background-color: #000;
    border-color: #fff;
}

button {
    cursor: pointer;
}
button:not(:disabled):active {
    transform: translateY(2px);
}

button:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 0, 0, 0.25);
}

.chooseTopic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

#chosenTopic {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4d4040;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.stats p::after {
    content: "|";
    font-size: 20px;
    margin: 0 7px;
}
.stats p:last-child::after {
    content: ''
}

#answersContainer {
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

#answersContainer .answer {
    width: calc(50% - 5px);
    min-height: 50px;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ffffffb1;
    border-radius: 2px;
    transition: .15s ease-in-out, .1s transform;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#answersContainer .answer:(.disabled):hover {
    border-color: #fff;
    background-color: #000;
}
#answersContainer .answer:(.disabled):active {
    transform: translateY(2px);
}

#answersContainer .answer.correct {
    background-color: #0f0;
}
#answersContainer .answer.false {
    background-color: #f00;
}
#answersContainer .answer.disabled {
    cursor: not-allowed;
}

#nextBtn {
    width: 100%;
    height: 40px;
}

.modalQuestions {
    position: fixed;
    width: 50vw;
    height: 75vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #fff;

    display: none;
    flex-direction: column;
    gap: 10px;

    padding: 15px;
    overflow: scroll;
}
.modalQuestions.visible {
    display: flex;
}


.modalQuestions .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalQuestions .top .close {
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
    font-size: 25px;
}
.modalQuestions .top .close:hover {
    color: #f00;
}

#currentQuestions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#currentQuestions .question {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#currentQuestions .question .alternatives {
    display: flex;
    flex-direction: column;
}

#currentQuestions .question .alternatives div label:nth-child(3) {
    margin-left: 50px;
    margin-right: 5px;
}

.newQuestion {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.newQuestion .alternatives {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.newQuestion .alternatives div label:nth-child(3) {
    margin-left: 50px;
    margin-right: 5px;
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}
.loader.visible {
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}