* {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #060533;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

main {
    margin-top: 5vh;
    width: 50vw;
    height: 75vh;

    padding: 25px;
    background-color: #1d1c1c;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.stats p::after {
    content: "|";
    font-size: 20px;
    margin: 0 7px;
}
.stats p:last-child::after {
    content: ''
}